@font-face {
    font-family: 'Gothic Regular';
    font-style: normal;
    font-weight: normal;
    src:url('fonts/GOTHIC.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gothic Italic';
    font-style: normal;
    font-weight: normal;
    src:url('fonts/GOTHICI.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gothic Bold';
    font-style: normal;
    font-weight: normal;
    src:url('fonts/GOTHICB.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gothic Bold Italic';
    font-style: normal;
    font-weight: normal;
    src:url('fonts/GOTHICBI.woff') format('woff');
    }